#forest parameters
tc	3
md	64

acp	3
acs	4

ud 	0

fc	1000
mo	20

wbgr	1
wacc	1
wacr	1
    
mlp	2000
ms	50
    
tp	2500000
tfr	3
tfb	0
    
smin	0.5
smax	2.0
srel	0

mb	25
    
#dataset parameters 
fso 	1

fl	585.0
xs	0.0
ys	0.0

iw	640
ih	480

cs	5
mi	500

sfl 	525
rd 	1
    
rxs 	-120
rys 	-30
    
amax	-30
amin	30

#testing parameters
rT2D	10
rT3D	100

rI	256
rB	100000
rMI	1000

rR	1
rRI	100
