#forest parameters
tc	3
md	64

acp	3
acs	2

ud 	0

fc	1000
mo	10

wbgr	1
wacc	1
wacr	1
    
mlp	2000
ms	50
    
tp	500000
tfr	5
tfb	3
    
smin	0.65
smax	1.15
srel	1

mb	25
    
#dataset parameters 
fso 	0

fl	573.0
xs	5.0
ys	2.0

iw	640
ih	480

cs	5
mi	-1

sfl 	573.0
rd 	0
    
rxs 	0
rys 	0

amax	0
amin	0

#testing parameters
rT2D	3
rT3D	10

rI	256
rB	100000
rMI	1000

rR	1
rRI	100
